.do-base-layers{
	background-image: url("ICONS/base_layers.png") !important;
	background-repeat: no-repeat;
}

.do-identify{
	background-image: url("ICONS/identify.png") !important;
	background-repeat: no-repeat;
}

.do-zoom-in{
	background-image: url("ICONS/zoom_in.png") !important;
	background-repeat: no-repeat;
}

.do-zoom-out{
	background-image: url("ICONS/zoom_out.png") !important;
	background-repeat: no-repeat;
}

.do-zoom-box{
	background-image: url("ICONS/zoom_box.png") !important;
	background-repeat: no-repeat;
}

.do-previous-extent{
	background-image: url("ICONS/extent_pre.png") !important;
	background-repeat: no-repeat;
}

.do-next-extent{
	background-image: url("ICONS/extent_nxt.png") !important;
	background-repeat: no-repeat;
}

.do-pan{
	background-image: url("ICONS/pan.png") !important;
	background-repeat: no-repeat;
}

.do-full-extent{
	background-image: url("ICONS/extent_full.png") !important;
	background-repeat: no-repeat;
}

.do-help{
	background-image: url("ICONS/help.png") !important;
	background-repeat: no-repeat;
}

.x-grid3-cell-inner { 
	white-space: normal; 
}

#C_FONT {
	font-family: "FGDCGeoAge",sans-serif;
}


#I_HEADER {
    background-image: url("SRC/MapBanner.png");
    border-color: #7787A1;
    border-style: none solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-color: #7787A1;
    background-position: center;
}

#M_G_STR, #M_G_SAT, #M_G_HYB, #M_G_PHY{
    color: #15428B;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
}

#LEGEND_PANEL{
    color: #15428B;
}

#PLUS, #MINUS {
    position: absolute;   
    z-index: 1000;
    border-style: none;
}

#PLUS button, #MINUS button {
    height: 12px;
    width: 14px;
    border-style: none;
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon {
    background-image: url("SRC/check-mark.png");
}

.x-toolbar div.xtb-text {
    color: #15428B;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
}

/****************Change legend css****************************/
.dmu_item_title {
    font-size: 14px !important; 
    font-weight: bold !important;
}

.dmu_item_block {
    padding: 3px !important;
}

.dmu_item_color {
    border: 1px solid #15428B !important;
    height: 18px !important;
    margin: 3px !important;
    width: 45px !important;
}

.dmu_item_label {
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: center;
}

#LEGEND_LINES {
    font-size: small;
    font-family: sans-serif;
}

/****************Change css for zoom panel*******************/

.olControlZoomPanel div {
    background-image:url(SRC/tool-sprites.gif) !important;
    height:15px !important;
    width:15px !important;
    /* workaround for button height in IE */
    font-size:0px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    background-position:15px -240px !important;
    top: -45px !important;
    left: -2px !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position:15px -255px !important;
    top: 178px !important;
    left: -1px !important;
}

/****************Change css for help document**************/
#M_HELP_UA, #M_HELP_AM, #M_HELP_AS, #M_HELP_AA{
    color: #15428B;
}

#P_HELP_UA, #P_HELP_AM, #P_HELP_AS, #P_HELP_AA{
    color: #15428B;
}

#P_HELP_UA .x-panel-body-noheader, .x-panel-mc .x-panel-body {
	font-size: 12px;
    padding: 20px;
}

#P_HELP_UA p {
    padding: 10px !important;
}

#P_HELP_UA ul {
    list-style: disc inside none !important;
    padding: 15px !important;
}

#P_HELP_AM .x-panel-body-noheader, .x-panel-mc .x-panel-body {
	font-size: 12px;
    padding: 20px;
}

#P_HELP_AM p {
    padding: 10px !important;
}

#P_HELP_AS .x-panel-body-noheader, .x-panel-mc .x-panel-body {
	font-size: 12px;
    padding: 20px;
}

#P_HELP_AS ul {
    list-style: disc inside none !important;
    padding: 10px !important;
}

#P_HELP_AA .x-panel-body-noheader, .x-panel-mc .x-panel-body {
	font-size: 12px;
    padding: 20px;
}

#P_HELP_AA ul {
    list-style: disc inside none !important;
    padding: 10px !important;
}